@using Licenta_Ecommerce_Mongo.DBConnections;
@using Licenta_Ecommerce_Mongo.Data;

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime js
@inject MongoDBWrapper mongo;
@inject NavigationManager nav

<div class="container">
    <div class="row">
        <div class="col-sm">@product.Id</div>
        <div class="col-sm">@product.Name</div>
        <div class="col-sm">@product.Price</div>
        <button type="button" class="col-sm btn btn-danger" @onclick="RemoveFromUserCart">Remove</button>
    </div>
</div>





@code {
    [Parameter]
    public Product product { get; set; } = new();

    public async void RemoveFromUserCart()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        string userId = user.Identity.Name;

        mongo.RemoveProductFromUserCart(userId, product.Id);
        nav.NavigateTo("/cart", true);

    }
}


