@using Licenta_Ecommerce_Mongo.Authentication;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
<PageTitle>Magazin</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1"  Style="@($"background:{Colors.DeepPurple.Lighten1};")" >
        <MudText Typo="Typo.h5" Class="ml-3">Magazin</MudText>

        <MudSpacer />

        <AuthorizeView>
            <Authorized>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="cart" Class="mx-3">cart</MudButton>
                <MudButton @onclick="Logout" href="javascript:void(0)">Logout</MudButton>
            </Authorized>
            <NotAuthorized>
                <MudButton Variant="Variant.Filled" Color="Color.Info" Class="mx-3" href="/login">LogIn</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="" href="/signup">SignUp</MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudMainContent>
        <NavMenu />
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);
    }
}





 @*<div class="sidebar">
    <div class=" ">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a @onclick="Logout" href="javascript:void(0)">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Login</a>
                    <a class="btn btn-info" role="button" href="/signup">SignUp</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@